In [1]:
import pandas as pd

Собрали немного данных

In [5]:
de=pd.read_csv('districts_extended.csv')

In [6]:
de

        station  population  brigades  radius        districts
0   П/станция 1    400000.0      14.0      10      Вахитовский
1   П/станция 1    400000.0      14.0      10        Советский
2   П/станция 1    400000.0      14.0      10      Приволжский
3   П/станция 1    400000.0      14.0      10        Кукушкино
4   П/станция 1    400000.0      14.0      10          Дальний
..          ...         ...       ...     ...              ...
74  П/станция 9    250000.0      10.0      20       Вознесение
75  П/станция 9    250000.0      10.0      20    Большие Клыки
76  П/станция 9    250000.0      10.0      20      Малые Клыки
77  П/станция 9    250000.0      10.0      20       Самосырово
78  П/станция 9    250000.0      10.0      20   Константиновка

[79 rows x 5 columns]

In [7]:
ep=pd.read_csv('estate_prices.csv')

In [8]:
ep

           district  estate_price
0  Авиастроительный         92027
1       Вахитовский        125097
2         Кировский         87020
3        Московский         93812
4  Ново-Савиновский        107367
5       Приволжский        102115
6         Советский        104520

In [9]:
em=pd.read_csv('estate_missing.csv')

In [10]:
em

           district
0         Кукушкино
1           Дальний
2             Отары
3        Победилово
4            Карьер
..              ...
65       Вознесение
66    Большие Клыки
67      Малые Клыки
68       Самосырово
69   Константиновка

[70 rows x 1 columns]

In [11]:
d=pd.read_csv('districts.csv')

In [12]:
d

,station,population,brigades,radius,districts
0,П/станция 1,400000.0,14.0,10,"Вахитовский, Советский, Приволжский, Кукушкино..."
1,П/станция 2,250000.0,12.0,10,"Кировский, Московский, Юдино, Аракчино, Залесн..."
2,П/станция 3,120000.0,11.0,20,"Авиастроительный, Московский, Северный, Карава..."
3,П/станция 4,45000.0,NaN,7,"Дербышки, Нагорный, Новая Сосновка, Киндери, Б..."
4,П/станция 5,52000.0,3.0,20-30,"Юдино, Новое Юдино, Красные Горки, Куземетьево..."
5,П/станция 6,270000.0,16.0,20,"Приволжский, Советский, Салмачи, Вознесение, О..."
6,П/станция 7,NaN,2.0,15,"Мирный, Борисково, Петровский"
7,П/станция 8,350000.0,10.0,5,"Ново-Савиновский, Московский, Кировский, Совет..."
8,П/станция 9,250000.0,10.0,20,"Советский (микрорайоны Азино-1, Азино-2), Возн..."